{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{ title }} {% endblock %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}

        {{ form_itempedido.management_form }}

        {% for ft in form_itempedido %}
            {{ ft }}
        {% endfor %}

        <br>
        <br>
<!--        <div class="button">-->
<!--            <button type="submit">Salvarrr</button>-->
<!--        </div>-->
    </form>
{% endblock %}
