{% extends 'base.html' %}

{% load static %}

{% block content %}

<main class="col-md-12 col-lg-12 px-md-3 container">

    <br>

    <div class="container">
        <div class="row">
            <input class="form-control form-control-dark w-50 search-button" type="text" placeholder="Busca" aria-label="Search">
        </div>
    </div>

    <br>

    <div class="row">

        <div class="col-md-12 col-lg-4 col-xl-3 col-group-itens-container">
            
            <div>
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"
                ><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>
            </div>
            <br>
            <h2>Pizzas</h2>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p> -->
            <p><a class="btn btn-secondary" href="#" role="button">Ver todos &raquo;</a></p>
            
        </div><!-- /.col-lg-4 -->

        <div class="col-md-12 col-lg-4 col-xl-3 col-group-itens-container">

            <div>
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder:  140x140" preserveAspectRatio="xMidYMid slice"    focusable="false"><title>Placeholder</title><rect width="100%"     height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".  3em">140x140</text></svg>
            </div>
            <br>
            <h2>Esfirras</h2>
            <p><a class="btn btn-secondary" href="#" role="button">Ver Todos &raquo; </a></p>

        </div><!-- /.col-lg-4 -->

        <div class="col-md-12 col-lg-4 col-xl-3 col-group-itens-container">

            <div>
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder:  140x140" preserveAspectRatio="xMidYMid slice"    focusable="false"><title>Placeholder</title><rect width="100%"     height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".  3em">140x140</text></svg>
            </div>
            <br>
            <h2>Lanches</h2>
            <p><a class="btn btn-secondary" href="#" role="button">Ver Todos &raquo; </a></p>

        </div><!-- /.col-lg-4 -->

        <div class="col-md-12 col-lg-4 col-xl-3 col-group-itens-container">

            <div>
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder:  140x140" preserveAspectRatio="xMidYMid slice"    focusable="false"><title>Placeholder</title><rect width="100%"     height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".  3em">140x140</text></svg>
            </div>
            <br>
            <h2>Combos</h2>
            <p><a class="btn btn-secondary" href="#" role="button">Ver Todos &raquo; </a></p>

        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

    <br>

    <div class="row">

        <div class="col-md-12 col-lg-4 col-xl-3 col-group-itens-container">

            <div>
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder:  140x140" preserveAspectRatio="xMidYMid slice"    focusable="false"><title>Placeholder</title><rect width="100%"     height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".  3em">140x140</text></svg>
            </div>
            <br>
            <h2>Porções</h2>
            <p><a class="btn btn-secondary" href="#" role="button">Ver Todos &raquo; </a></p>

        </div><!-- /.col-lg-4 -->

        <div class="col-md-12 col-lg-4 col-xl-3 col-group-itens-container">

            <div>
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder:  140x140" preserveAspectRatio="xMidYMid slice"    focusable="false"><title>Placeholder</title><rect width="100%"     height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".  3em">140x140</text></svg>
            </div>
            <br>
            <h2>Pasteis</h2>
            <p><a class="btn btn-secondary" href="#" role="button">Ver Todos &raquo; </a></p>

        </div><!-- /.col-lg-4 -->

        <div class="col-md-12 col-lg-4 col-xl-3 col-group-itens-container">

            <div>
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder:  140x140" preserveAspectRatio="xMidYMid slice"    focusable="false"><title>Placeholder</title><rect width="100%"     height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".  3em">140x140</text></svg>
            </div>
            <br>
            <h2>Sobremesas</h2>
            <p><a class="btn btn-secondary" href="#" role="button">Ver Todos &raquo; </a></p>

        </div><!-- /.col-lg-4 -->

        <div class="col-md-12 col-lg-4 col-xl-3 col-group-itens-container">

            <div>
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder:  140x140" preserveAspectRatio="xMidYMid slice"    focusable="false"><title>Placeholder</title><rect width="100%"     height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".  3em">140x140</text></svg>
            </div>
            <br>
            <h2>Bebidas</h2>
            <p><a class="btn btn-secondary" href="#" role="button">Ver Todos &raquo; </a></p>
            
        </div><!-- /.col-lg-4 -->
            
    </div>

</main>

{% endblock %}
