{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{ page_title }} {% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {{ inlineformulario.management_form | crispy}}

        {% for ft in inlineformulario %}
            <div class="dynamic-form">
                <hr>
                {{ ft }}
            </div>
        {% endfor %}


        <div class="button">
            <button class='btn btn-primary' type="submit">Salvar</button>
            <a class='btn btn-danger' href="{% url 'core:index' %}">Cancelar</a>
        </div>
    </form>
{% endblock %}


{% block js %}
    <script type="text/javascrit">
        $(function() {
            $('.dynamic-form').formset({
                prefix: '{{ inlineformulario.prefix }}',
                addText: 'Adcionar novo item',
                deleteText: 'Remover este item',
            });
        })
    </script>

{% endblock %}