{% extends 'list.html' %}
{% block content %}
<div class="container">


<div class="row top-buffer">
    <a class="btn btn-primary" href="{% url 'pedido-create' %}" role="button">Cadastrar novo Cliente</a>
</div>
<div class="row top-buffer">
    <table class="table table-bordered">
        {% for obj in obj_list %}
        <tr>
            <td>
                {{ obj.id }} -
                {{ obj.nome }}
                <ul>
                    {% for t in obj.itempedido_set.all %}
                    <li>{{ t }} - {{ t.quantidade }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <a class="btn btn-sm btn-warning" href="{% url 'pedido-detail' obj.pk %}" >Editar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>Nenhum cliente na base</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}